<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-3">

      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize("Search GOV.UK <span class='govuk-visually-hidden'>all content</span>"),
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 4
      } %>

      <%= form_for(:search, method: :get, data: { module: "filters" }) do |f| %>
        <%= render "search", {
          label_text: ""
        } %>
        <% if search.corrected_query? %>
          <p class="govuk-body" style="margin-top: -20px">
            Did you mean &ldquo;<strong><%= link_to search.corrected_query, search_path(q: search.corrected_query), class: "govuk-link" %></strong>&rdquo;?
          </p>
        <% end %>

      <div id="panelGroup" class="accordion govuk-!-margin-top-4">
        <div class="filter-header" data-module="accordion">
          <%= render "govuk_publishing_components/components/heading", {
            text: pluralize(number_with_delimiter(search.total_size), "result"),
            id: "js-result-count",
            font_size: "s",
            margin_bottom: 2,
          } %>

            <button class="accordion-trigger govuk-link panel-button govuk-body-m govuk-!-padding-0 govuk-!-padding-left-3" type="button" aria-expanded="<% if filter_remove_links.any? %>true<% else %>false<% end %>" aria-controls="filter-panel" id="filters-show-hide">
                <span class="accordion-title">
                  Filter and sort
                  <span class="accordion-icon"></span>
                </span>
            </button>

        </div>

        <div class="filter-panel govuk-!-margin-bottom-5" id="filter-panel" role="region" aria-labelledby="filters-show-hide" <% if filter_remove_links.none? %>hidden=""<% end %>>
          <div class="filters-sorting">
              <%= render "sorting" %>
          </div>

          <%= render "govuk_publishing_components/components/details", {
              title: "Topic",
              open: permitted_params[:primary_topic].present?
          } do %>
            <%= render "filters_topic" %>
          <% end %>

          <%= render "govuk_publishing_components/components/details", {
              title: "Type",
              open: permitted_params[:content_purpose_supergroups].present?
          } do %>
            <%= render "filters_type" %>
          <% end %>

          <%= render "govuk_publishing_components/components/details", {
              title: "Content updated",
              open: permitted_params[:primary_topic].present?
          } do %>
            <%= render "filters_date" %>
          <% end %>
        <% end %>

        <div class="govuk-button-group govuk-!-margin-bottom-0 govuk-!-margin-top-3">
          <%= render "govuk_publishing_components/components/button", {
            text: "View results",
            font_size: "s",
          } %>
  
          <% if filter_remove_links.any? %>
            <%= link_to "Clear all filters", clear_all_filter_path, class: "govuk-link clear-filters govuk-!-font-size-19" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "filters_remove" %>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/document_list", {
      items: search.results.map { |result|
        {
          link: {
            text: result.title,
            path: result.url,
            description: result.description,
          },
          metadata: {
            "Updated" => ("Updated: #{result.date.strftime("%-d %B %Y")}" if result.date.present? && result.content_purpose_supergroup != "services"),
          }
        }
      },
      remove_underline: true,
    } %>
  </div>
</div>
