<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-3">

      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize("Search GOV.UK <span class='govuk-visually-hidden'>all content</span>"),
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 4
      } %>

      <%= form_for(:search, method: :get, data: { module: "filters" }) do |f| %>
        <%= render "search", {
          label_text: ""
        } %>
        <% if search.corrected_query? %>
          <p class="govuk-body" style="margin-top: -20px">
            Did you mean &ldquo;<strong><%= link_to search.corrected_query, search_path(q: search.corrected_query), class: "govuk-link" %></strong>&rdquo;?
          </p>
        <% end %>

      <div id="panelGroup" class="accordion">
        <div class="filter-header" data-module="accordion" data-accordion-open="false" data-accordion-persist-state="true">
          <%= render "govuk_publishing_components/components/heading", {
            text: pluralize(search.total_size, "result"),
            id: "js-result-count",
            font_size: "s",
            margin_bottom: 2,
          } %>
          <div>
            <button class="accordion-trigger govuk-link panel-button govuk-body-s govuk-!-padding-0 govuk-!-padding-left-3" type="button" aria-expanded="true" aria-controls="filter-panel" id="filters-show-hide">
                <span class="accordion-title">
                  Filter and sort
                  <span class="accordion-icon"></span>
                </span>
            </button>
          </div>
        </div>

        <div class="filter-panel" id="filter-panel" role="region" aria-labelledby="filters-show-hide" visible="">

          <div class="filters-sorting">
            <div>
              <%= render "sorting" %>
              </div>
          </div>

          <div id="accordionGroup" class="accordion accordion-outline filters-control">
            <h3 data-module="accordion" data-accordion-open="false">
              <button type="button" aria-expanded="true" class="accordion-trigger" aria-controls="sect1" id="accordion1id">
                <span class="accordion-title govuk-heading-s">
                  Topic
                  <span class="accordion-icon"></span>
                </span>
              </button>
            </h3>
            <div id="sect1" role="region" aria-labelledby="accordion1id" class="accordion-panel">
              <%= render "filters_topic" %>
            </div>
            <h3 data-module="accordion" data-accordion-open="<%= params.has_key?(:content_purpose_supergroups) %>">
              <button type="button" aria-expanded="true" class="accordion-trigger" aria-controls="sect2" id="accordion2id">
                <span class="accordion-title govuk-heading-s">
                  Type
                  <span class="accordion-icon"></span>
                </span>
              </button>
            </h3>
            <div id="sect2" role="region" aria-labelledby="accordion2id" class="accordion-panel" hidden="">
              <%= render "filters_type" %>
            </div>
            <h3 data-module="accordion" data-accordion-open="false">
              <button type="button" aria-expanded="true" class="accordion-trigger" aria-controls="sect3" id="accordion3id">
                <span class="accordion-title govuk-heading-s">
                  Content updated
                  <span class="accordion-icon"></span>
                </span>
              </button>
            </h3>
            <div id="sect3" role="region" aria-labelledby="accordion3id" class="accordion-panel">
              <%= render "filters_date" %>
            </div>
          </div>
        <% end %>

        <%= render "govuk_publishing_components/components/button", {
          text: "View results",
          classes: "js-filter-submit",
          font_size: "s",
        } %>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <%= render "filters_remove" %>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">

    <%= render "govuk_publishing_components/components/document_list", {
      items: search.results.map { |result|
        {
          link: {
            text: result.title,
            path: result.url,
            description: result.description,
          },
          metadata: {
            public_updated_at: result.date,
          }
        }
      },
      remove_underline: true,
    } %>
  </div>

</div>
