<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8 govuk-template" lang="en"><![endif]-->
  <!--[if gt IE 8]><!--><html class="govuk-template" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>GOV.UK &mdash; Search Prototype</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <!--[if lt IE 9]><%= javascript_include_tag "govuk_publishing_components/ie", integrity: true, crossorigin: "anonymous" %><![endif]-->
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
    <link rel="mask-icon" href="<%= asset_path 'govuk-mask-icon.svg' %>" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path "govuk-apple-touch-icon-180x180.png" %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_path "govuk-apple-touch-icon-167x167.png" %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path "govuk-apple-touch-icon-152x152.png" %>">
    <link rel="apple-touch-icon" href="<%= asset_path "govuk-apple-touch-icon.png" %>">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% #  Ensure that older IE versions always render with the correct rendering engine %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <% # The default og:image is added below :head so that scrapers see any custom metatags first, and this is just a fallback %>
    <meta property="og:image" content="<%= asset_url("govuk-opengraph-image.png", host: Plek.website_root) %>">

    <%= yield :head %>
  </head>
  <body class="gem-c-layout-for-public govuk-template__body">
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end -%>

    <%= render "govuk_publishing_components/components/skip_link", {
      href: "#content"
    } %>
    <%= render "layout_super_navigation_header", {
      logo_link: root_path,
      blue_background: @blue_background,
    } %>

    <%# <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div> %>

    <%# <div class="govuk-width-container">
      <%= render "govuk_publishing_components/components/phase_banner", {
        phase: "prototype",
        message: "This is a prototype for improvements to search on GOV.UK."
      }
    </div> %>

    <div id="wrapper">
      <%= yield :before_content %>
      <main class="govuk-main-wrapper govuk-!-padding-top-0" id="content">
        <%= yield %>
      </main>
    </div>

    <%= render "govuk_publishing_components/components/layout_footer", {
      # ?????
    } %>
    <%= javascript_include_tag 'govuk_publishing_components/dependencies', 'govuk_publishing_components/all_components', 'application' %>
  </body>
</html>
